.post {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
}
    .post > .post-header {
        display: grid;
    }
        .post > .post-header > .avatar{

        }
        .post > .post-header > .post-user{
.
        }
            .post > .post-header > .post-user > user{

            }
            .post > .post-header > .post-user > .time{

            }


    .post > div {

    }
    .post > footer {

    }